html,body{ 
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}


header{
    width: 100%;
    height: auto;

}

header img{
    width: 15%;
    height: auto;
    margin-left: 4%
    
    
}

.mobile{
    display: none;
}

nav{
    float: right;
    width: auto;
    margin: 1.1% 3vh auto auto;
    margin-right: 5vh;
    text-decoration: none;
    list-style: none;
    height: 100%;

}

ul{
    list-style-type: none;
    list-style: none;

}

li{
    float: right;
    color: rgb(44, 71, 29);

}

li a{
    display: block;
    color: rgb(44, 71, 29);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover{  
    border: 1px solid rgb(44, 71, 29);
    border-radius: 25px;

}

article{
    background-image: url(/img/IMG_8791.JPG);
    background-size: cover;
    height: 85vh;

}

section{
    
    width: 60%;
    margin-right: 20%;
    margin-top: 17%;
    float: right;
    background-color: rgba(238, 255, 255, 0.596);
    border-radius: 100px;
    overflow: auto;

    
}

#zgloszeni p{
    width: 30%;
    float: left;
    margin-left: 1%;
    
}

#contentP{
    width: 30%;
    float: left;
    margin-left: 1%;
}

.data{
    font-size: 13px;
    font-weight: 900;
    margin-left: 5%;
    margin-bottom: 3px;
}

.tresc{
    font-size: 25px;
    font-family: lato;
    margin-left: 6%;
    margin-top: 0%;
    margin-bottom: 4%;
}

section iframe{
    margin-left: 30%;
    width: 40%;
}

section h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;

}

section h2{
    font-size: 30px;
    font-weight: 400;
    margin-left: 5%;

}

section h3{
    margin-left: 7%;
    width: 15%;

}

    
section p{
    margin-left: 20%;

}

.smallMargin{
    width: 60%;
    height: 90%;
    margin-right: 20%;
    margin-top: 3%;
    float: right;
    background-color: rgba(238, 255, 255, 0.596);
    border-radius: 100px;
    
    

}

.smallMargin2{
    width: 80%;
    height: 90%;
    margin-right: 10%;
    margin-top: 3%;
    float: right;
    background-color: rgba(238, 255, 255, 0.596);
    border-radius: 70px;
    
    

}





footer{
    height: 4vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    color: rgb(200, 205, 209);
    font-family: 'Trebuchet MS';
    letter-spacing: 2px;
    
}

@media only screen and (max-width: 600px) {
    article{
        background-position: 60% 0%;
        
    }
    
    
    header img{
        
        height: auto;
        width: 60%;
        margin-right: auto;
        margin-left: 11vh;

    }

    .mobile{
        display: block;
        background-color: rgba(255, 255, 255, 0.349)

    }

    .btn-group{
        margin-left: 5%;
        position: relative;
        padding: 10px;
        width: 40%;
    }

    #timer{
        float: right;
        width: 30%;
        margin-top: 2%;
        margin-right: 3%; 
        font-family: Lato;
        font-size: 25px;
          
    }

    .desktop{
        
        
        display: none;
        align-items: center;
        width: 100vh;
        margin-bottom: 0;
        margin-top: -1%;
        margin-right: 0;
        text-decoration: none;
        list-style: none;
        height: auto;
        background-color: rgba(255, 255, 255, 0.582);

    }

    ul{
        display: flex;
        list-style-type: none;
        margin: 0;
        margin-top: 2vh;
        padding: 0;
        list-style: none;
        
    }
    
    li{
        display: flex;
        margin-left: 0;
        margin-right: 0%;
        color: rgb(44, 71, 29);
        margin-top: 6px;
        font-size: 14px;

    }
    
    li a{
        display: flex;
        color: rgb(44, 71, 29);
        text-align: center;
        padding: 7px 8px;
        text-decoration: none;

    }
    
    a:hover{
        
        border: 1px solid rgb(44, 71, 29);
        border-radius: 25px;

      }
    
    section{
    
        width: 90%;
        margin-right: 5%;
        margin-top: 17%;
        float: right;
        background-color: rgba(238, 255, 255, 0.596);
        border-radius: 25px;
        
    }

    section iframe{
        margin-left: auto;
    }
    
    section h1{
        font-size: 25px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 0px;

    }
    
    section h2{
        font-size: 20px;
        font-weight: 400;
        margin-left: 5%;
        margin-bottom: 0px;

    }
    
    section h3{
        margin-left: 7%;
        width: 15%;
        font-size: 15px;
        margin-bottom: 0px;
        font-weight: 900;

    }
    
        
    section p{
        margin-left: 15%;

    }
    
    .smallMargin{
        width: 90%;
        height: 88%;
        margin-right: 5%;
        margin-top: 3%;
        float: right;
        background-color: rgba(238, 255, 255, 0.596);
        border-radius: 25px;
        overflow: scroll;

    }

    .smallMargin2{
        width: 90%;
        height: 90%;
        margin-right: 5%;
        margin-top: 3%;
        float: right;
        background-color: rgba(238, 255, 255, 0.596);
        border-radius: 25px;
        
        
    
    }
    
    
    
    
    footer{
        position: fixed;
        width: 100%;
        height: 5%;
        background-color: rgb(0, 0, 0);
        text-align: center;
        color: rgb(200, 205, 209);
        padding: 0.4%;
        font-family: 'Trebuchet MS';
        letter-spacing: 2px;
        
    }




  }

